/* This file contains the style to use a special flex grid for landing pages in Explora En Casa*/
    /* This code is written as desktop first */
    /*Contaner of the grid */


    .flexgrid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* Now we define the size for the child elements */
    .flexgrid-item {
        position: relative;
        flex: 0 0 calc(100%/3);

    }

    .item-container {
        padding-bottom: 75%;
    }

    .inside-container {
        position: absolute;
        width: calc(100% - 30px);
        height: calc(100% - 50px);
        transform: translate(15px, 25px);
        border-radius: 30px;
        background-color: beige;
    }

    .inside-container > h2 {
        position: absolute;
        top: auto;
        bottom: 20%;
        left: 12%;
        right: 12%;
        font-size: 36px;
        margin: 0;
        line-height: 1;
    }

    .inside-container > p {
        position: absolute;
        left: 12%;
        top: auto;
        right: 12%;
        bottom: 10%;
        font-size: 14px;
        margin: 0;
    }

    @media (max-width:1200px) {
        .flexgrid-item {
            flex: 0 0 calc(100%/3);
        }

    }

    @media (max-width:900px) {
        .flexgrid-item {
            flex: 0 0 50%;
        }
    }

    @media (max-width:768px) {
        .flexgrid-item {
            flex: 0 0 100%;
        }
    }