
/* This file is ordered as first desktop */
/* --- Hide dot in li ---*/

ol { 
    counter-reset: item;
    list-style-type: none;
}
li { display: block; 
    width: 30%;
}
li:before { 
    content: counter(item) "  "; 
    counter-increment: item ;
    color: red;
    font-size: 10rem;
}

/* This file contains the style to use a special flex grid for landing pages in Explora En Casa*/
    /* This code is written as desktop first */
    /*Contaner of the grid */


    .flexgrid-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .flex-center{
        justify-content: center;
    }

    /* Now we define the size for the child elements */
    .flexgrid-item {
        position: relative;
        flex: 0 0 calc(100%/3);

    }


    .item-container {
        padding-bottom: 75%;
    }

    .inside-container {
        position: absolute;
        width: calc(100% - 30px);
        height: calc(100% - 50px);
        transform: translate(15px, 25px);
        border-radius: 30px;
        background-color: beige;
    }

    .inside-container > h2 {
        position: absolute;
        top: auto;
        bottom: 20%;
        left: 12%;
        right: 12%;
        font-size: 36px;
        margin: 0;
        line-height: 1;
    }

    .inside-container > p {
        position: absolute;
        left: 12%;
        top: auto;
        right: 12%;
        bottom: 10%;
        font-size: 14px;
        margin: 0;
    }


    .section-heading {
        background: no-repeat center url('images/FONDO_INTRO.jpg') #FD5A58;
        margin:0;
        
    }

    .container-heading{
        position: absolute;
        left: 50%;
        bottom: 15%;
        text-align: center;
        transform: translate(-50%);
        
    }

    .main-title{
        font-size: 10rem;
        position: relative;
        text-align: center;
        font-family: "obviously", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        line-height: 1;
        letter-spacing: 0px;
        font-size: 7.5rem;
        color: #eeeeee;
    }

    h1.main-title{
        margin:0;
        
    }

    .main-subtitle {
        color: #eeeeee;
        text-decoration: none;
        text-align: center;
        padding-left: 175px;
        padding-top: 8px;
        font-family: "obviously", sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.3;
    }

    h2.main-subtitle {
        margin:0;
    }

    .description {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        color: #eeeeee;
        text-align: left;
    }
    .whatsapp-icon {
        font-size: 5rem;
        color: #eeeeee;
        padding-bottom: 10px;
    }

    .cta-text{
        font-size: 24px;
        color: #eeeeee;
        position: relative;  
        font-size: 24px;
    }

    .section-goals {
        background: no-repeat center url('images/OBEJTIVOS-FONDO.jpg') #FD5A58;
        margin: 0;
    }

    .section-goals h2 {
        color:#f2665f;
        margin:0;
        display:inline-block;
        padding: 10px;
        font-family: "obviously", sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 1.3;
        
    }
    .section-goals p {
        display: inline-block;
        font-size: 18px;
        font-family: "obviously";
        line-height: 22px;
        color: #f2665f;
        width: 230px;
    }

    .container{
        width: 50%;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }

    .hvcenter{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    }

    .section-features {
        background-color: #f2665f;
    }

    .inside-container > h2 {
        position: absolute;
        top: auto;
        bottom: 32%;
        left: 7%;
        right: 12%;
        font-size: 30px;
        margin: 0;
        line-height: 1.1;
        font-family: "obviously";
        letter-spacing: -0.5px;
        font-weight: 900;
        color: #A45FCE;
    }

    .inside-container > p {
        position: absolute;
        left: 7%;
        top: auto;
        right: 12%;
        bottom: 13%;
        font-size: 13px;
        margin: 0;
        font-family: "obviously";
        font-weight: 600;
        letter-spacing: 0px;
        color: #A45FCE;
    }



    @media (max-width:1200px) {
        .flexgrid-item {
            flex: 0 0 calc(100%/3);
        }

    }

    @media (max-width:900px) {
        .flexgrid-item {
            flex: 0 0 50%;
        }
    }

    @media (max-width:768px) {
        .flexgrid-item {
            flex: 0 0 100%;
        }
    }


