
        /*Section background*/
        .header_section {
            margin-top: -130px;
            background-color: #f2665f;
            background-repeat: no-repeat !important;
            background-position: center center !important;
            padding: 0px;
            background-size: cover !important;
            position: relative;
        }
    
        #Top_bar .container {
            background-color: transparent;
            z-index: 1;
        }
    
        #Top_bar {
            border-bottom: 0px;
            border-bottom-width: 0px;
            border-bottom-style: initial;
            border-bottom-color: initial;
        }
    
        #Top_bar.is-sticky .container {
            background-color: #eeeeee;
        }
        /*---------------------*/
    
        /*---- General headings ----*/
        h1 {
            font-family: "obviously", sans-serif;
            font-size: 48px;
            font-weight: bold;
            line-height: 1.3;
        }
    
        h2 {
            font-family: "Open Sans", sans-serif;
            font-size:30px;
            font-weight:bold;
            line-height:25px;
        }
    
        h3 {
        font-size: 16px;
        font-family: "obviously";
        line-height: 22px;
        }
    
        h6{
            font-family: "Open Sans", sans-serif;
            font-style: italic;
            font-size:14px;
            font-weight:300;
            line-height:25px;
        }
    
        p {
            font-family: "Open Sans", sans-serif;
            font-size:15px;
            line-height:25px;
        }
        /*-------------------------------------*/
    
    
        /*Main section Style*/
        .MainTitle {
            font-family: "obviously", sans-serif;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            line-height: 1;
            letter-spacing: 0px;
            margin: 0px auto;
            margin-top: 0px;
            font-size: 7.5rem;
            color: #eeeeee;
        }
    
        .main_subtitle {
            color: #eeeeee;
            text-decoration: none;
            text-align: center;
            padding-left: 175px;
            padding-top: 8px;
        }
    
        .main_text {
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            color: #eeeeee;
            margin-left: 252px;
            width: 679px;
        }
    
        .header_column {
            position: absolute;
            top: -178px;
            left: 33px;
        }
    
        .buttom_form{
            top: 239px;
            left: 360px;
        }
        .text_buttom_form {
            margin-left: 173px;
            font-size: 24px;
            color: #eeeeee;
            position: relative;
            top: 103px;
        }
    
    
        /*-------------------------------------*/
    
        /*Second section Style*/
        .second_sec_title{
            color: #f2665f;
            text-decoration: underline;
        }
    
        .objective_row {
            margin-left: -122px;
            padding: 0px 80px 0px 0px;
        }
    
        .objectives {
            font-size: 18px;
            font-family: "obviously";
            line-height: 22px;
            color: #f2665f;
            width: 230px;
        }
        /*-----------------------------------*/
    
        /*Third section Styles*/
        .third_sec_title{
            color: #eeeeee;
        }
    
        .third_sec_text {
            color: #eeeeee;
            margin-left: -124px;
        }
    
    
        /*Form section Style*/
        .form_sec_title {
            color: #f2665f;
            text-decoration: none;
        }
    
        .form_sec_subtitle{
            color:#f2665f
        }
    
        label, legend {
            color: #f2665f;
        }
        input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
            border-color: #f2665f;
        }
        select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
            border-color: #f2665f;
        }
        p.formConditions {
            color: #f2665f;
        }
        input.wpcf7-form-control.wpcf7-submit {
            color: #eeeeee;
            background: #f2665f;
        }
        .form_image{
            margin-top: -180px;
            margin-left: 807px;
            margin-bottom: -35px;
        }
        .text_wpp_buttom{
            margin-left: 186px;
            font-size: 24px;
            margin-top: -15px;
            color: #00a100;
        }
    
    
        /*-----------------------------------*/
    
    
        /*Responsive Styles*/
        @media only screen and (max-width: 1239px) {
    
            .MainTitle {
                font-size: 6rem;
            }
            .main_subtitle{
                font-size: 270%;
            }
            .main_text {
                font-size: 145%;
                width: 618px;
            }
            .header_column {
                top: -145px;
            }
            .buttom_form{
    
                top: 239px;
                left: 360px;
                
            }
    
            .second_sec_title{
                margin-left: 37px;
            }
    
            .objective_row {
                margin-left: -50px;
            }
    
            .form_sec_title {
                font-size: 48px;
                letter-spacing: 0px;
            }
    
            .form_image{
                margin-top: -186px;
                margin-left: 723px;
            }
            .text_wpp_buttom{
                margin-left: 155px;
                font-size: 24px;
                margin-top: -16px;
                color: #00a100;
            }
        }
    
        @media only screen and (max-width: 959px) {
    
    
        .MainTitle {
            margin-top: -176px;
            font-size: 4.5rem;
            margin-left: -8px;
        }
    
        .main_subtitle {
            font-size: 31px;
            margin-left: -128px;
        }
    
        .main_text {
            font-size: 21px;
            margin-left: 132px;
            width: 504px;
        }
    
        .header_column {
            top: -79px;
        }
        .buttom_form{
    
            top: 239px;
            left: 272px;
            
        }
        .text_buttom_form {
            margin-left: 105px;
            font-size: 24px;
            color: #eeeeee;
            position: relative;
            top: 103px;
        }
    
        .second_sec_title {
            font-size: 38px;
        }
    
        .objective_row{
            padding: 0px;
        }
    
        .objectives {
            font-size: 17px;
            width: 169px;
        }
    
        .third_sec_text {
            color: #eeeeee;
            margin-left: -97px;
        }
    
            .form_image {
                margin-top: -175px;
                margin-left: 558px;
            }
    
            .whatsapp_button {
                
                margin-left: -13px;
                z-index: 0;
            }
            
            .text_wpp_buttom{
                margin-left: 98px;
                font-size: 24px;
                margin-top: -20px;
                color: #00a100;
            }
    
        }
    
        @media only screen and (max-width: 767px) {
            .MainTitle {
                font-weight: 700;
                margin-top: -3px;
                font-size: 3.5rem;    
                
            }
            
            .main_subtitle {
                font-size: 20px;
                margin-left: -128px;
                padding-left: 0px;
                padding-top: 0px;          
            }
            
            .main_text {
                font-size: 21px;
                margin-left: -15px;
                width: 456px;
            }
            
            .header_column {
                top: -79px;
            }
    
            .text_buttom_form {
                margin-left: 79px;
                font-size: 24px;
                color: #eeeeee;
                position: relative;
                top: 116px;
            }
    
            .buttom_form{
    
                top: 239px;
                left: -12px;
                
            }
            
            .second_sec_title {
                font-size: 38px;
            
            }
            .objectives {
                width: 230px;
                margin-left: 70px;
                margin-top: -127px;
            }
            
            .objective_row{
                padding: 0px;
            }
            
        
            
            .third_sec_text {
                width: 63%;
                margin-left: 65px;
                margin-top: -61px;
            }
            
            
                .form_image {
                    max-width: 21%;
                    top: -153px;
                    left: 385px;
    
                }
            
                .whatsapp_button {
                
                    left: 197px;
                }
                .text_wpp_buttom{
                    margin-left: 76px;
                    font-size: 24px;
                    margin-top: -20px;
                    color: #00a100;
                }
            
            }
    
        @media only screen and (max-width: 534px) {
            .MainTitle {
                font-weight: 700;
                margin-top: -15px;
                font-size: 3rem;
                margin-left: -28px;    
                
            }
            
            .main_subtitle {
                font-size: 20px;
                margin-left: -128px;
                padding-left: 0px;
                padding-top: 0px;          
            }
            
            .main_text {
                font-size: 21px;
                margin-left: -15px;
                width: 400px;
            }
            
            .header_column {
                top: -79px;
            }
            .buttom_form{
    
                top: 239px;
                left: -10px;
                
            }
            .text_buttom_form {
                margin-left: 68px;
                font-size: 24px;
                color: #eeeeee;
                position: relative;
                top: 109px;
            }
            
            .second_sec_title {
                font-size: 38px;
            
            }
            .objectives {
                width: 230px;
                margin-left: 70px;
                margin-top: -127px;
            }
            
            .objective_row{
                padding: 0px;
            }
            
        .third_sec_title{
            color: #eeeeee;
            font-size: 36px;
        }
            
        .third_sec_text {
            width: 63%;
            margin-left: 65px;
            margin-top: -61px;
        }
            
            
                .form_image {
                    max-width: 21%;
                    top: -153px;
                    left: 385px;
    
                }
            
                .whatsapp_button {
                    
                    left: 181px;
                }
                .text_wpp_buttom{
                    margin-left: 57px;
                    font-size: 24px;
                    margin-top: -20px;
                    color: #00a100;
                }
            
            }
    
        
    
        @media only screen and (max-width: 479px) {
            #Top_bar.is-sticky .container {
                background-color: #eeeeee;
            }
            .MainTitle {
                font-weight: 700;
                margin-top: -17px;
                font-size: 2.5rem;    
                
            }
            
            .main_subtitle {
                font-size: 20px;
                margin-left: -128px;
                padding-left: 0px;
                padding-top: 0px;          
            }
            
            .main_text {
                font-size: 21px;
                margin-left: -15px;
                width: 376px;
            }
            
            .header_column {
                top: -79px;
            }
            .buttom_form{
    
                top: 239px;
                left: 0px;
                
            }
            .text_buttom_form {
                margin-left: 68px;
                font-size: 24px;
                color: #eeeeee;
                position: relative;
                top: 109px;
            }
            
            .second_sec_title {
                font-size: 38px;
            
            }
            .objectives {
                width: 230px;
                margin-left: 70px;
                margin-top: -127px;
            }
            
            .objective_row{
                padding: 0px;
            }
            .third_sec_title{
                color: #eeeeee;
                font-size: 30px;
            }
            
        
            
            .third_sec_text {
                width: 63%;
                margin-left: 65px;
                margin-top: -61px;
            }
            
            
            
                .form_image {
                    max-width: 21%;
                    top: -199px;
                    left: 301px;
    
                }
            
                .whatsapp_button {
                    
                    left: 140px;
                }
                .text_wpp_buttom{
                    margin-left: 72px;
                    font-size: 16px;
                    margin-top: -20px;
                    color: #00a100;
                }
            }
    
            @media only screen and (max-width: 410px) {
                .MainTitle {
                    font-weight: 700;
                    margin-top: -15px;
                    font-size: 2.5rem;
                }
                .main_subtitle {
                    font-size: 17px;
                    margin-left: -61px;
                    padding-left: 0px;
                    padding-top: 0px;
                }
                
                .main_subtitle {
                    font-size: 20px;
                    margin-left: -61px;
                    padding-left: 0px;
                    padding-top: 0px;
                }
                .main_text {
                    font-size: 17px;
                    margin-left: -15px;
                    width: 266px;
                }
                
                .header_column {
                    top: -79px;
                }
                .buttom_form{
    
                    top: 239px;
                    left: -10px;
                    
                }
                .text_buttom_form {
                    margin-left: 28px;
                    font-size: 17px;
                    color: #eeeeee;
                    position: relative;
                    top: 109px;
                }
                .second_sec_title {
                    font-size: 22px;
                
                }
                .objectives {
                    width: 160px;
                    margin-left: 70px;
                    margin-top: -127px;
                }
                
                .objective_row{
                    padding: 0px;
                }
                .third_sec_title {
                    color: #eeeeee;
                    font-size: 27px;
                }
                    
                
                .third_sec_text {
                    width: 63%;
                    margin-left: 65px;
                    margin-top: -61px;
                }
                .form_sec_title {
                    font-size: 32px;
                    letter-spacing: 0px;
                }
                .form_sec_subtitle {
                    color: #f2665f;
                    font-size: 18px;
                }
                
                    .form_image {
                        max-width: 21%;
                        top: -185px;
                        left: 301px;
            
                    }
                
                    .whatsapp_button {
                    
                        left: 101px;
                    }
                    .text_wpp_buttom{
                        margin-left: 30px;
                        font-size: 16px;
                        margin-top: -20px;
                        color: #00a100;
                    }
            }
                
                
    
        a.button.button_size_2, a.tp-button.button_size_4, button.button_size_4, input[type="submit"].button_size_4, input[type="reset"].button_size_4, input[type="button"].button_size_4 {
            font-size: 200%;
            line-height: 120%;
        }